/* =========================== Divs =============================*/ 

section {
  margin-top: 0;
  padding-top: 20 ;
  padding-left: 20%;
  padding-right: 20%;
  
  justify-content: center;
}

.container {
}

.Titulo {
  font-size: 15px;
  padding-left: 2%;
  padding-right: 5%;
}

.Legenda {
  font-size: 12px;
  padding-left: 2%;
  padding-right: 5%;
}

.Texto {
  padding-left: 2%;
  padding-right: 5%;
}

p {
  text-align: justify;
  max-width: 600px;
}

h3 {
  font-size: 18px;
}

h2 {
  font-size: 21px; 
}

#habilidades {
  padding: 20px;
}

#Estudos {
  color: #DDD;
  background-color: #204060;
}

#skill {
  color: #DDD;
  background-color: #204060;
}

/* =========================== Generals =============================*/ 
a {
  color: darkorange;
}

a:hover {
  color: darkblue;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

img {
  height: 150px;
  width: 150px;
}

footer {
  text-align: right;
}


/* =========================== Header and Nav =============================*/ 
header {
  background: #565a5d;
  padding-top:140px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;

  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1 {
  font-size: 80px;
}

header h2 {
  font-size: 20px;
}

header h3 {
  display: inline-flex;
}

header h4 {
  padding-top: 20px;
}

header a {
  font-size: 25px;
}